/examples/*/exp*
/examples/*/data*
/examples/*/steps
/examples/*/utils
/examples/*/local
/examples/*/decode_*
/examples/*/utils
/examples/*/lib
/examples/*/src
/examples/*/shutil
/examples/*/misc
/examples/*/cmd.sh
/examples/*/path.sh
/examples/*/config
__pycache__
*.ark
*.egg
*.gz
*.o
*.log
*.pt
*.so
*.scp
*.trans_mdl
temp*
src/e2e/result
